<a href="https://colab.research.google.com/github/Ananyabhatt23/ABD-Assignments/blob/main/SparkAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=a5ccaf3700b0e66e3f8e875815c02c33976d87812b420abc1a5e9bba22e25928
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Spark Assignment').getOrCreate()

## Q1
Create RDDs in three different ways.

In [ ]:
# By PARALLELIZE
parRDD = spark.sparkContext.parallelize(["The","Parallelize","Method","RDD"])

# By Loading Data from External Storage
externalRDD = spark.sparkContext.textFile("/content/MYDRIVE/MyDrive/ABD Spark/Template.txt")

# By applying operations on existing data (map(), flatMap(), reduceByKey(), filter())
externalRDD.map(lambda d:(d.split(' '),1)).collect()

## Q2
 Read a text file and count the number of words in the file using RDD operations.

In [ ]:
rdd.flatMap(lambda d: (d.split(' ')[2],d.split(' ')[3])).count()

380622

## Q3
Write a program to find the word frequency in a given file.

In [ ]:
rdd.flatMap(lambda d: d.split('\t')).collect()
rdd.flatMap(lambda d: d.split('\t')).map(lambda d: (d.split(' ')[2],d.split(' ')[3])).collect()
rdd.flatMap(lambda d: d.split('\t')).map(lambda d: (d.split(' ')[3])).distinct().collect()

In [ ]:
rdd.flatMap(lambda d: d.split('\t')).map(lambda d: (d.split(' ')[2],1)).reduceByKey(lambda a,b: a+b).collect()

## Q4
Write a program to convert all words in a file to uppercase.

In [ ]:
rdd.flatMap(lambda d: d.split('\t')).map(lambda d: (d.split(' ')[2].upper(),d.split(' ')[3].upper())).collect()

## Q5
Write a program to convert all words in a file to lowercase.

In [ ]:
rdd.flatMap(lambda d: d.split('\t')).map(lambda d: (d.split(' ')[2].lower(),d.split(' ')[3].lower())).distinct().collect()

## Q6
 Write  a  program  to  capitalize  first  letter  of  each  words  in  file  (use  string capitalize() method).

In [ ]:
rdd = spark.sparkContext.textFile('/content/ananya in pariss..txt')
rdd.collect()

['ananya in pariss.',
 'ananya in pariss.',
 'ananya in pariss.',
 'ananya in pariss.']

In [ ]:
rdd.flatMap(lambda d: d.split(' ')).map(lambda d: d.capitalize()).collect()

## Q7
Find the number of occurrence of a word in a given file.

In [ ]:
rdd.count()

4

## Q8
Select only the sentences containing given word from a text file.

In [ ]:
word = spark.sparkContext.textFile('/content/drive/MyDrive/Colab Notebooks/ABD/DataSet/sampleTemp.txt')
findword = 'Achalpur'
word.map(lambda d: (d.split(' '))).filter(lambda d: (d[2] == findword)).collect()

## Q9
Find the longest length of word from given set of words.

In [ ]:
word.map(lambda d: d.split(' ')[2]).max()

'Yelahanka'

## Q10
 Map the  Registration  numbers to corresponding  branch. 58000 series  BDA,57000  series AIML, 38000 series VLSI, 39000 series ES, and47000 series CDC.Given registration number, generate a key-value pair of Registration Number and Corresponding Branch.

In [ ]:
regRdd = spark.sparkContext.parallelize([58023,47023,38023,39023,57023])
def branchFinding(num):
  if num >=58001 and num <=59000:
    return "BDA"
  elif num >=57001 and num <=58000:
    return "AIML"
  elif num >=38001 and num <= 39000:
    return "VLSI"
  elif num >=39001 and num <= 40000:
    return "ES"
  elif num >= 47001 and num <= 48000:
    return "CDC"
  else:
    return "Unknown Registration Number"

regRdd.map(lambda d:(d,branchFinding(d))).collect()

## Q11
Text file contain numbers. Numbers are separated by one white space. There is no order to store the numbers. One line may contain one or more numbers. Find the maximum, minimum, sum and mean of numbers.

In [ ]:
textfile = spark.sparkContext.textFile('/content/drive/MyDrive/Colab Notebooks/ABD/DataSet/Numbers.txt')
textfile.collect()

In [ ]:
textfile.flatMap(lambda d: d.split(' ')).map(lambda d: int(d)).max()
textfile.flatMap(lambda d: d.split(' ')).map(lambda d: int(d)).min()
textfile.flatMap(lambda d: d.split(' ')).map(lambda d: int(d)).mean()
textfile.flatMap(lambda d: d.split(' ')).map(lambda d: int(d)).sum()

## Q12
A text file(citizen.txt)contains data about citizens of country. Fields(information in file) are Name, dob, Phone, email and state name. Another file contains mapping of state names to state code like  Karnataka  is  codes  as  KA,TamilNadu  as  TN,  Kerala  KL  etc.  Compress  the citizen.txt file  by changing full state name to state code.

In [ ]:
with open("/content/MYDRIVE/MyDrive/ABD Spark/Citizens.txt",'w') as info:
    info.write('abc 06-10-1999 1234567890 abc@gmail.com Karnataka \nxyz 23-11-2000 2345678901 xyz@gmail.com TamilNadu \ndef 29-02-1995 3456789012 def@gmail.com Goa')
    info.close()

print("Original File: \n")
print(spark.sparkContext.textFile("/content/MYDRIVE/MyDrive/ABD Spark/Citizens.txt").collect())

stateCode = spark.sparkContext.textFile("/content/MYDRIVE/MyDrive/ABD Spark/State Code.txt")

def compressingFunction(state):
  with open("/content/MYDRIVE/MyDrive/ABD Spark/Citizens.txt",'r') as citizen:
    cont = citizen.read()
    cont  = cont.replace(state[0],state[1])
    citizen.close()
  with open ("/content/MYDRIVE/MyDrive/ABD Spark/Citizens.txt",'w') as citizen_new:
    citizen_new.write(cont)
    citizen_new.close()

stateInfo = stateCode.flatMap(lambda data:data.split('\n')).map(lambda d:[i for i in d.split(" ")]).collect()
for i in stateInfo:
  compressingFunction(i)

print("After Encoding: \n")
spark.sparkContext.textFile("/content/MYDRIVE/MyDrive/ABD Spark/Citizens.txt").collect()

## Dataset Question 1
 Create dataset (text file) with fields like ‘Student Name’, ‘Institute’, ‘Program Name’, and ‘Gender’ and solve following questions.


1.   Compute number of students from each Institute.
2.   Number of students enrolled to any program.
3.   Number of ‘boy’ and ‘girl’ students.
4.   Number of ‘boy’ and ‘girl’ students from selected Institute.

In [ ]:
rdd = spark.sparkContext.textFile('/content/students.txt')
rdd.collect()

In [ ]:
rdd.map(lambda d: (d.split(' ')[1],1)).reduceByKey(lambda a,b: a+b).collect()

In [ ]:
rdd.map(lambda d: (d.split(' ')[2],1)).reduceByKey(lambda a,b: a+b).collect()

In [ ]:
rdd.map(lambda d: (d.split(' ')[3],1)).reduceByKey(lambda a,b: a+b).collect()

In [ ]:
rdd.map(lambda d: (d.split(' ')[1],d.split(' ')[3]=='F')).reduceByKey(lambda a,b: a+b).collect()

In [ ]:
rdd.map(lambda d: (d.split(' ')[1],d.split(' ')[3]=='M')).reduceByKey(lambda a,b: a+b).collect()

## Dataset Question 2
Dataset: Temperature of Indian Cities. Fields of dataset are Date, Average Temperature, City, Country, Latitude and Longitude(Use dataset attached to MapReduce assignment). Solve following questions

1.   Find maximum and minimum temperature of all cities from the given dataset
2.   Count number of data point for each city.
3.   Find the maximum and minimum temperature for city Bangalorefrom the
    given dataset.
4.   Find the maximum and minimum temperature for any given city from the   given dataset.City name should be passed through command line argument.

In [ ]:
tempRdd = spark.sparkContext.textFile("/content/MYDRIVE/MyDrive/ABD Spark/Temperature Dataset.txt")
tempRdd.collect()

In [ ]:
tempRdd.map(lambda d:(d.split(' ')[1],1)).max()
tempRdd.map(lambda d:(d.split(' ')[1],1)).min()

In [ ]:
tempRdd.map(lambda d:(d.split(' ')[2],1)).reduceByKey(lambda a,b:a+b).collect()

In [ ]:
tempRdd.map(lambda d:(d.split(' ')[1],d.split(' ')[2])).filter(lambda d:d[1]=="Banglore").max()
tempRdd.map(lambda d:(d.split(' ')[1],d.split(' ')[2])).filter(lambda d:d[1]=="Banglore").min()

In [ ]:
# Maximum and Minimum in Shivamogga
terminal_args = ['jupyter notebook', 'Temperature.ipynb' ,'Shivamogga']
tempRdd.map(lambda d:(d.split(' ')[1],d.split(' ')[2])).filter(lambda d:d[1]==terminal_args[2]).max()
tempRdd.map(lambda d:(d.split(' ')[1],d.split(' ')[2])).filter(lambda d:d[1]==terminal_args[2]).min()

# Maximum and Minimum in Banglore
terminal_args = ['jupyter notebook', 'Temperature.ipynb' ,'Banglore']
tempRdd.map(lambda d:(d.split(' ')[1],d.split(' ')[2])).filter(lambda d:d[1]==terminal_args[2]).max()
tempRdd.map(lambda d:(d.split(' ')[1],d.split(' ')[2])).filter(lambda d:d[1]==terminal_args[2]).min()

## Dataset Question 3

Create  dataset  (text  file)  of bank transactions. Fields in file are ‘Bank ID’, ‘Account Number’, ‘Transaction Date’, ‘Transaction Type’ (credit or debit), ‘Transaction Amount’.Date format is dd-mm-yyyy.

1. Count unique number of customers
2. Count unique number of Bank ID
3. Count unique number of customers per Bank ID
4. Number of transactions for given Account Number
5. Number of credit transactions for given Account Number in a given year

In [ ]:
data = spark.sparkContext.textFile('/content/drive/MyDrive/Colab Notebooks/ABD/DataSet/bank.txt')
data.collect()

In [ ]:
# Count unique number of customers

data.map(lambda d: (d.split('\t')[0],1)).reduceByKey(lambda a,b: a+b).collect()

In [ ]:
# Count unique number of Bank ID

data.map(lambda d: (d.split('\t')[1],1)).reduceByKey(lambda a,b: a+b).collect()

In [ ]:
# Count unique number of customers per Bank ID

# data.map(lambda d: (d.split('\t')[1],d.split('\t')[0])).filter(lambda d: d[1] == 'CAN00123').distinct().collect()

In [ ]:
# data.map(lambda d: (d.split('\t')[1],d.split('\t')[0])).reduceByKey(lambda a,b: a+' '+b).collect()

In [ ]:
# Count unique number of customers per Bank ID

data.map(lambda d: (d.split('\t')[1],d.split('\t')[0])).reduceByKey(lambda a,b: a+' '+b).map(lambda d: (d[0],{i for i in d[1].split(' ')})).collect()

In [ ]:
# Number of transactions for given Account Number

# data.map(lambda d: (d.split('\t')[3],d.split('\t')[1])).reduceByKey(lambda a,b: a+' '+b).map(lambda d: (d[0],{i for i in d[1].split(' ')})).collect()
data.map(lambda d: (d.split('\t')[1],d.split('\t')[3])).reduceByKey(lambda a,b: a+' '+b).collect()
data.map(lambda d: (d.split('\t')[1],d.split('\t')[3])).reduceByKey(lambda a,b: a+' '+b).filter(lambda d: d[0] == '123876122').collect()

In [ ]:
# Number of credit transactions for given Account Number in a given year

bankRdd.map(lambda d:((d.split('\t')[1],"On the year: "+str(d.split('\t')[2].split('-')[2])),1)).reduceByKey(lambda a,b:(a+b)).map(lambda d:(d[0],"Number of transactions: "+str(d[1]))).collect()